body {
    background: hsl(0, 0%, 2%);
    font-family: 'Luckiest Guy', sans-serif;
    color: hsl(0, 100%, 100%);
    text-align: center;
}

#board {
    display: flex;
    align-items: center;
    justify-content: center;
}

#board canvas {
    background: hsl(0, 80%, 70%);
}

.restart-text {
    display: block;
    margin-top: 1em;
    font-size: 1.5em;
}